body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFE0B2; 
}

h1 {
  font-size: 60px;
  color: #212121;
  text-align: center;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
}

img {
    margin-left: auto;
    margin-right: auto;
    width:500px;
    display: block;
}

th {
    background-color:#388E3C;
    color: white;
}

table {
    border-collapse: collapse;
}


table, td,  th {
    border: 1px solid black;    
}

table td {
  text-align:center;
}

